<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Spring Boot</title>
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<h3>HOME PAGE</h3>
	<div class="col-6 text-right">
		Logged in : <b><span th:text="${userInfo}"></span></b><br>
	</div>
	<p>
		<a sec:authorize="!isAuthenticated" href="/login">Login</a> <a
			sec:authorize="isAuthenticated" href="/login">Logout</a> or create
		one <a href="/user/list">User management</a>
	</p>
</body>
</html>